@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  background-attachment: fixed;
}

@media (max-width: 768px) {
  section {
    background-attachment: scroll;
    background-size: cover;
  }
}
