---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import Trayectoria from "../components/Trayectoria.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<Layout
  title="Portfolio | Pittana Patricio - Desarrollador y Programador Web"
  description="Contrata a Patricio Pittana para proyectos de Desarrollo web FrontEnd"
>
  <section class="parallax">
    <div class="frontLayer">
      <div class="frontStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="frontStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="frontStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="frontStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="frontStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
    </div>
    <div class="backLayer">
      <div class="backStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="backStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="backStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="backStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="backStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="backStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
      <div class="backStars stars"><ion-icon name="logo-tableau"></ion-icon></div>
    </div>

    <main class="pl-3 pr-3 md:w-2/3 mx-auto">
      <SectionContainer class="py-20 pb-12 md:py-28 md:pb-24 px-3">
        <h1
          class="text-white text-xl md:text-5xl font-bold flex flex-row gap-x-2 md:gap-x-4 pb-4"
        >
          Hola, soy Patricio Pittana.<a
            href="https://www.linkedin.com/in/patricio-pittana-2185b6177/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center"
            ><Badge>Disponible para trabajar.</Badge></a>
        </h1>
        <h2 class="w-auto text-lg md:text-2xl text-pretty">
          <span class="opacity-80">Soy de Entre Rios, Argentina 🇦🇷.</span> Trainee
          Front-End Web Developer, <span class="text-blue-200/90"
            >recibido en las siguientes tecnologias: HTML, CSS, JavaScript y
            React.</span
          > Actualmente cursando BackEnd en la Academia/Bootcamp de <span
            class="font-semibold">CoderHouse.</span
          > Alumno de Ingenieria Electronica en <span class="font-semibold"
            >Universidad Tecnologica Nacional.</span>
        </h2>

        <nav class="flex flex-wrap gap-2 mt-3 md:mt-6 md:gap-x-3">
          <SocialPill
            href="https://www.linkedin.com/in/patricio-pittana-2185b6177/"
          >
            <LinkedInIcon class="size-3 text-md md:size-6" />LinkedIn
          </SocialPill>
          <SocialPill href="https://github.com/Lunatico0">
            <GitHubIcon class="size-3 text-md md:size-6" />GitHub
          </SocialPill>
          <SocialPill href="mailto:pittanapatricio@gmail.com">
            <MailIcon
              class="size-3 text-md md:size-6"
            />pittanapatricio@gmail.com
          </SocialPill>
        </nav>
      </SectionContainer>

      <SectionContainer id="trayectoria">
        <h2
          class="font-semibold text-2xl mb-6 flex flex-row items-center gap-x-3"
        >
          <Briefcase />
          Trayectoria
        </h2>
        <Trayectoria />
      </SectionContainer>
    </main>
  </section>

</Layout>

<style>
  .parallax {
    min-height: 100vh;
    position: relative;
  }

  .frontLayer,
  .backLayer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .frontLayer {
    z-index: 1;
    overflow-y: hidden;
  }

  .backLayer {
    z-index: 0;
    overflow-y: hidden;
  }

  .frontLayer .frontStars,
  .backLayer .backStars {
    position: absolute;
    overflow-y: hidden;
  }

  .frontLayer .frontStars {
    box-shadow: 0, 0, 1.5em, rgba(0, 0, 0, 0.5);
    width: 3rem;
    color: rgba(36, 144, 148, 0.3);
  }

  .backLayer .backStars {
    box-shadow: 0, 0, 2em, rgba(0, 0, 0, 0.8);
    width: 5rem;
    color: rgba(57, 181, 230, 0.4);
  }

  .frontLayer div:nth-child(1) {
    top: 0;
    left: 20%;
    width: 16%;
  }
  .frontLayer div:nth-child(2) {
    top: 50%;
    left: 0;
    width: 13%;
  }
  .frontLayer div:nth-child(3) {
    bottom: 0;
    left: 30%;
    width: 14%;
  }
  .frontLayer div:nth-child(4) {
    bottom: 20%;
    right: 10%;
    width: 12%;
  }
  .frontLayer div:nth-child(5) {
    top: 10%;
    right: 30%;
    width: 11%;
  }
  
  /* ---Back--- */
  .backLayer div:nth-child(1) {
    top: -20%;
    right: 10%;
    width: 30%;
  }

  .backLayer div:nth-child(2) {
    bottom: -20%;
    right: 20%;
    width: 32%;
    
  }

  .backLayer div:nth-child(3) {
    top: -10%;
    left: 0;
    width: 34%;
  }

  .backLayer div:nth-child(4) {
    bottom: 20%;
    left: 30%;
    width: 28%;
  }

  .backLayer div:nth-child(5) {
    top: 10%;
    left: 0;
    width: 32%;
  }

  .backLayer div:nth-child(6) {
    bottom: -20%;
    left: 30%;
    width: 28%;
  }

  .backLayer div:nth-child(7) {
    top: -10%;
    right: 0;
    width: 34%;
  }

</style>
