<header
  class="flex items-center md:justify-between justify-evenly py-5 mx-auto w-full md:w-[70%]"
>
  <img
    class="rounded-full size-12 ml-3"
    src="https://media.licdn.com/dms/image/D4D03AQEa0ZY61OZCZA/profile-displayphoto-shrink_200_200/0/1703009152001?e=2147483647&v=beta&t=t6keQTKDIoq26BI_A-qEbItYigDye6Rd_Y5r3T9GaCY"
    alt="Patricio foto"
  />
  <nav class="flex flex-row gap-x-5 opacity-80 mr-3 md:gap-x-10">
    <a href="#top">Inicio</a>
    <a href="#sobre-mi">Sobre mi</a>
    <a href="#trayectoria">Trayectoria</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>
