---
import type { ActionError } from "astro:actions"
import TimeLineItem from "./ProyectsItem.astro"

const history = [
  {
    date: '...Actualmente',
    title: 'Cursando BackEnd I en la academia/bootcamp de coderhouse',
    description: 'Cursando con el profesor Samu martes y jueves de 19 a 21'
  },
  {
    date: 'octubre 2023',
    title: 'Comienzo de la carrera de Desarrollador Web',
    description: 'Descubro la Academis/Bootcamp de CoderHouse, investigo sobre ella y decido empezar con el curso',
    link: 'https://artemisanogoya.vercel.app/'
  }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    history.map(story => (
      <li class="mb-10 ms-4">
        <TimeLineItem {...story} />
      </li>
    ))
  }
</ol>
