---
import TimeLineItem from "./TrayectoriaItem.astro"

const history = [
  {
    date: 'Actualmente',
    title: 'Cursando Backend',
    description: 'Actualmente continúo mi formación en Backend, aprendiendo sobre Node.js, Express y bases de datos como MongoDB. Desarrollo proyectos orientados a la creación de APIs y la gestión de servidores.'
  },
  {
    date: 'Mayo 2024',
    title: 'Curso de React',
    description: 'Durante el curso de React, desarrollé el proyecto "Artemisa", un e-commerce para un negocio familiar de revestimientos. Implementé funcionalidades avanzadas como el manejo de estado con Redux y la integración de pagos.',
    link: {
      url: 'https://artemisanogoya.vercel.app',
      id: 'Artemisa e-Commerce'
    }
  },
  {
    date: 'Febrero 2024',
    title: 'Curso de JavaScript',
    description: 'En el curso de JavaScript, profundicé en el manejo del DOM y la manipulación de APIs. Como parte del proyecto final, añadí funcionalidades de e-commerce al sitio "Electricidad Pittana".',
    link: {
      url: 'https://lunatico0.github.io/ElectricidadPittana_e-Commerce/',
      id: 'Electricidad Pittana e-Commerce'
    }
  },
  {
    date: 'Noviembre 2023',
    title: 'Curso de Desarrollo Web',
    description: 'Mi primer paso en la carrera de Full Stack fue en CoderHouse, donde desarrollé un landing page para "Electricidad Pittana", aplicando tecnologías como HTML, CSS y Bootstrap.',
    link: {
      url: 'https://electricidad-pittana.netlify.app/',
      id: 'Electricidad Pittana landing page'
    }
  },
  {
    date: 'Enero 2018',
    title: 'Inicio de Ingeniería Electrónica',
    description: 'Comencé mis estudios en Ingeniería Electrónica en la Universidad Tecnológica Nacional, enfocándome en áreas como sistemas embebidos y control digital.'
  }
]

---

<ol class="relative pl-3 border-s ml-2 border-gray-200 dark:border-gray-700">
  {
    history.map(story => (
      <li class="mb-10">
        <TimeLineItem {...story} />
      </li>
    ))
  }
</ol>
